a{
  color:inherit;
  text-decoration:none;
  
}
nav{
  text-align:center;
}

nav>section{
  background-color:#afafaf;
  display:inline-block;
  padding:0 20px;
  border-radius:10px;
  
  
}

nav>section>div{
  
  display:inline-block;
   
}

nav>section>div>a{
  
  padding:20px;
  display:block;
  
}

nav>section>div:hover>a{
  background-color:black;
  color:white;
}