html {
 
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body, ul, li, h1 {
  margin:0;
  padding:0;
  list-style:none;
}

a {
  color:inherit;
  text-decoration:none;
}



label[for] {
  cursor:pointer;
  user-select:none;
}

/* 라이브러리 */
.border-red {
    border:4px solid red;
}
.border-pink {
    border:4px solid pink;
}
.border-blue {
    border:4px solid blue;
}
.border-green {
    border:4px solid green;
}
.border-black {
    border:4px solid black;
}
.border-gold {
    border:4px solid gold;
}
.flex {
    display: flex;
    
}
.flex-jc-e {
    justify-content:flex-end;
}
.flex-jc-s {
    justify-content:flex-start;
}
.flex-jc-c {
    justify-content:center;
}
.flex-jc-sb {
    justify-content:space-between;
}
.flex-jc-sa {
    justify-content:space-around;
}


/* 부모의 높이를 따라가는 것 */
.height-100{
  
  height:100%;
}

.block{
  display:block;
}

.align-items-c{
  align-items:center;
}
/* cus */
.top_bar{

    background-color:black;
    color:white;
    height: 150px;
    
}

.top_bar>.logo{
  font-size:3rem;
}

.top_bar>.menu_box>ul>li>a{
  padding:0 10px;
}

.top_bar>.menu_box>ul>li:hover>a{
  background-color:white;
  color:black;
}